body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  background: #fff;
}

.title,
.content,
.button-container {
  background: #e3f4ff;
  /*background: #8e50cc;*/
  width: 400px;
  margin: 8px auto;
}

.title {
  font-size: 16px;
  padding: 8px;
}

.content {
  margin: 8px auto;
  padding: 16px 8px;
}

.button-container {
  margin: 8px auto;
  padding: 8px;
  text-align: center;
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  padding: 8px 24px;
  margin: 0 auto;
}